<div class="btn-group float-right" role="group">
  <%= link_to 'Inventurliste', inventory_list_articles_path(format: 'pdf'), class: 'btn btn-sm btn-secondary' %>
  <%= link_to 'Neuen Artikel anlegen', new_article_path, class: 'btn btn-sm btn-primary' %>
</div>

<%= render 'table', articles: @articles %>
