<table class="table table-sm">
  <thead>
    <tr>
      <th>Zutat</th>
      <th class="text-end">Bedarf</th>
      <th class="text-end">Fehlmenge</th>
      <% if defined?(show_meals) %><th>Mahlzeiten</th><% end %>
    </tr>
  </thead>

  <tbody>
    <% @box.ingredients.order(:name).each do |ingredient| %>
      <tr>
        <td><%= link_to ingredient, ingredient %></td>
        <td class="text-end"><%= @box.unit_sums[ingredient.id].map(&:humanize).join(', ') %></td>
        <td class="text-end">
          <%= @box.missing_ingredient_sums_by_ingredient.fetch(ingredient.id, []).map(&:humanize).join(', ') %>
        </td>
        <% if defined?(show_meals) %>
        <td>
          <ul>
          <% @ingredient_meals.fetch(ingredient.id, []).each do |meal| %>
            <li><%= link_to meal.recipe, meal %></li>
          <% end %>
          <ul>
        </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>