<h1>manuelle Mahlzeit-Teilnahme in Gruppe <%= @group_meal_participation.group %> bearbeiten</h1>

<%= render 'form', group_meal_participation: @group_meal_participation %>

<%= link_to 'Zurück', group_group_meal_participations_path(@group_meal_participation.group), class: 'btn btn-default' %>
