<h1>Neue manuelle Mahlzeit-Teilnahme in Gruppe <%= @group %></h1>

<%= render 'form', group_meal_participation: [@group, @group_meal_participation] %>

<%= link_to 'Zurück', group_group_meal_participations_path(@group), class: 'btn btn-default' %>
