<h1>Extra-Zutat für <%= @extra_ingredient.group_box %> bearbeiten</h1>

<%= render 'form', box: nil, group: nil, extra_ingredient: @extra_ingredient %>

<%= link_to 'Zurück', [@extra_ingredient.box, @extra_ingredient.group] %>
