<h1>Neue Extra-Zutat für <%= @group_box %></h1>

<%= render 'form', box: @group_box.box, group: @group_box.group, extra_ingredient: @extra_ingredient %>

<%= link_to 'Zurück', [@group_box.box, @group_box.group] %>
