@import 'bootstrap/scss/bootstrap';
@import './actiontext.scss';
@import 'datatables.net-bs4/css/dataTables.bootstrap4';
@import 'select2/dist/css/select2.min';
@import '@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4.min';

// apply styles to HTML elements
// to make views framework-neutral
main {
    @extend .container;
    margin-top: 30px; // accommodate the navbar
}

section {
    @extend .row;
    margin-top: 20px;
}

.dataTable {
    thead {
        background-color: white;
    }
}